.mdl-card {
  margin-top: 40px;
  margin-left: auto;
  margin-bottom: 40px;
  margin-right: auto;
}

.command-card > .mdl-card__title {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #3F51B5;   
  /* 
  background: #3F51B5 url("images/mastercard.jpg") center;
  background-size: cover; 
  */
}